/* Add flexbox to the navbars. */

/* Format the size of all images. */

/* Style the font color. */

/* Style the background with a color or image. */

/* Adjust the spacing of your page. */

/* Adjust the positioning of your page.  */


* {
    box-sizing: border-box;
  }
  
  body {
    background-color: #f9d60e;
    padding: 20px;
    font-family: Arial;
  }
  
  .heading{
    background-color: #373738;
    color: #efeff2;
    padding: 1em;
  }
  
  .main {
    max-width: 1000px;
    margin: auto;
  }
  
  h1 {
    font-size: 50px;
    word-break: break-all;
  }
  
  .content {
    background-color: #272b30;
    margin: 20px;
    padding: 10px;
    color: white;
  }


  .btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: white;
    cursor: pointer;
    margin-right: 20px;
  }
  
  nav {
    background-color: #272b30;
    padding: 10px;
    border-radius: 10px;
  }
  
  footer {
    background-color: #272b30;
    padding: 20px;
    color: white;
    text-align: center;
    font-size: 1em;
    border-radius: 10px;
  
  }
  